<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>西征贸易生活服务平台</title><link href=/static/css/app.9229106bc06990a466a22258256ee4d1.css rel=stylesheet></head><style>*{
        margin:0;
        padding:0;
        border:0;
    }</style><body><div id=app></div><script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.b23bafe4b2c735d4506d.js></script><script type=text/javascript src=/static/js/app.2c659ceb101a090e7255.js></script></body></html>